.card {
  width: 300px;
  min-width: 100px;
  height: auto;
  padding-top: 25px;
}

img {
  width: 100px;
  height: auto;
  text-align: center;
}

.card-content {
  min-width: 150px;
}


.ContactProfile h3 {
  font-size: 30px;
}

.ContactProfile p {
  color: grey;
}

#contact-github {
  width: 30px;
  height: auto;
}

#link-github {
  padding-top: 10px;
}