.Home {
  margin: 40px;
  text-align: center;
}

.Home h3 { 
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.Home h3 > span {
  color: gold;
}

.Home ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.Home li {
  padding: 20px;
  list-style: none;
  text-decoration: none;
}

.Home img {
  width: 80px;
}

.Home a {
  background-color: gold;
  color: black;
}

.Home a:hover {
  background-color: gold;
  color: white;
}
