.ContactForm {
  padding: 20px;
  width: 400px;
}

.ContactForm h2 {
  font-weight: bold;
  text-decoration: underline gold;
}

.ContactForm button {
  color: black;
}

.ContactForm button:hover {
  color: white;
}





