.nav-wrapper {
  background-color: rgb(51, 51, 51);
}

.nav-wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-wrapper a {
  color: gold;
}

.nav-wrapper a:hover {
  background-color: gold;
  color: black;
}