.nav-wrapper {
  background-color: white; 
}

.nav-wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-wrapper a {
  color: black; 
}

.nav-wrapper a:hover {
  background-color: gold;
  color: black;
}