.Nav nav {
  background-color: white; 
}
.nav-menu {
  text-align: center;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.container a {
  color: black; 
}

.container a:hover {
  background-color: gold;
  color: black;
}

.material-icons {
  color: black;
}

.material-icons:hover {
  background-color: white;
  color: black;
}

#slide-out li:hover {
  background-color: gold;
  color: black;
}