.WorkoutsPage {
  margin: 20px;
  display: flex;
}
 
.WorkoutsPage div > h2 {
  padding-bottom: 10px;
  text-decoration: underline gold;
  text-align: left;
  font-weight: bold;
}

.WorkoutsPage div > h3 {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

.Section {
  margin: 0 50px;
  padding: 20px;
}

#divider {
  margin-top: 10px;
  border-left: 2px solid grey;
}







