.WorkoutsPage {
  display: flex;
  padding: 20px;
 }
 
 .WorkoutsPage h2 h3 {
   text-decoration: underline gold;
   text-align: left;
 }
 
 .WorkoutsPage label {
   font-weight: bold;
 }
 
 .Section {
   margin: 0 50px;
   padding: 20px;
 }
 
 #date {
   font-weight: bold;
 }
 
 #divider {
   margin-top: 10px;
   border-left: 3px solid black;
 }
 
 #btn {
   text-align: center;
 }