.WorkoutsPage {
  display: flex;
}
 
.WorkoutsPage div > h2, 
.WorkoutsPage div > h3 {
  text-decoration: underline gold;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}

.Section {
  margin: 0 50px;
  padding: 20px;
}

#divider {
  margin-top: 10px;
  border-left: 2px solid grey;
}







